body{
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
}

.header-img-container{
    display: inline-block;
}

.header-img{
    height: 500px;
    object-fit: cover;
    margin: 0;
    opacity: 0.9;
}

@media (min-width: 900px) {
    .header-img{
        width: 20%;
    }
}

@media (max-width: 900px) {
    .header-img{
        width: 33%;
    }

    #header1{
        display: none;
    }

    #header5{
        display: none;
    }
}

@media (max-width: 500px) {
    .header-img{
        width: 100%;
    }

    #header1{
        display: none;
    }

    #header5{
        display: none;
    }

    #header2{
        display: none;
    }

    #header4{
        display: none;
    }
}

#header-color-overlay{
    position:absolute;
    top:75px;
    background: rgba(15, 32, 79, 0.6);
    overflow: hidden;
    height: 500px;
    width: 100%;
    z-index: 2;
}

#colorbar-container{
    width: 100%;
}

#project-description{
    margin: auto;
    width: 1200px;
    text-align: center;
    z-index: 3;
    color: white;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 100px;
    max-width: 90%;
    height: 500px;
}

#project-description > h4 > a{
    color: rgb(20, 196, 185);
}

#project-description > h1{
    font-size:2.9rem;
}

#project-description > h4{
    font-size:1.3rem;
}

#toolbar > div > a > img {
    margin: 0;
}

#more-info{
    margin: auto;
    padding: 20px 0px;
    max-width: 1200px;
    color: white;
}

#more-info > p > a {
    color: rgb(20, 196, 185);
}